{% extends "base.html" %}
{% load i18n avatar_tags %}
{% block extra_head %}
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}
{% block title %}CAESER Geoportal{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="container">
	  <p class="text-center text-muted">&copy; {% now "Y" %} <a href="http://strengthencommunities.com" target="_blank">Center for Applied Earth Science and Engineering Research, The University of Memphis</a></p>
  </div>
</footer> 
{% endblock %}
